@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    height: 100vh;
    background: #F8E8C0;
    background-image: url("../images/background-123.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 100px auto 0;
}

h2 {
    width: 40vw;
    border-radius: 25px;
    font-size: 30px;
    color: #E6D2A2;
    background: #1A472A;
    background-image: url("../images/stardust.png");
    text-align: center;
    margin: 40px auto;
    padding: 15px 0;
    letter-spacing: 1px;
    font-family: 'MedievalSharp', cursive;
}

/***** Story book section *****/

/* Image */
.img-game {
    min-height: 650px;
    height: 100%;
    background: #1A472A;
    background-image: url("../images/stardust.png");
}

.img-game img {
    position: absolute;
    top: 160px;
    left: 50%;
    width: 250px;
    transform: translate(-50%, 0%);
    border-radius: 25px;
    box-shadow: 5px 5px 5px #000;
}

/* Mobile games img */
.img-game-mobile {
    min-height: 650px;
    height: 100%;
    background: #1A472A;
    background-image: url("../images/stardust.png");
}

.img-game-mobile img {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 450px;
    transform: translate(-50%, 0%);
    border-radius: 25px;
    box-shadow: 5px 5px 5px #000;
}

/* Header */
.about-game-story h1 {
    font-size: 40px;
    color: #E6D2A2;
    text-shadow: 5px 5px 5px #000;
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'MedievalSharp', cursive;
}

.game-header h1 {
    top: 580px !important;
}

.about-game-story p {
    color: #000;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    padding: 100px 20px;
    text-align: justify;
}

/***** About book section *****/

.about-game nav {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    padding: 40px 20px;
    text-align: justify;
}
 
.about-game h3 {
    width: 100%;
    color: #000;
    font-size: 25px;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: justify;
}

.about-game p {
    width: 100%;
    color: #000;
    font-size: 20px;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: justify;
}

/* Other books */
.other-games h2 {
    margin-top: 50px;
}


