@media (max-width: 1024px) {

    .img-book img {
        top: 190px;
        width: 200px;
    }

    .about-book-story h1 {
        top: 600px;
        font-size: 30px;
    }
    
    .about-book-story p,
    .about-book h3 {
        font-size: 20px;
        width: 80%;
    }

    .about-book li {
        width: 100%;
    }

    .about-book p {
        font-size: 16px;
        width: 80%;
    }

    h2 {
        width: 400px;
        font-size: 25px;
    }

    .about-book nav {
        width: 95%;
    }
} 

@media (max-width: 500px) {
    .img-book {
        min-height: 620px;
        height: 100%;
    }

    .img-book img {
        width: 150px;
    }

    .about-book-story h1 {
        top: 550px;
    }

    .about-book nav {
        width: 95%;
    }
}
