@media (max-width: 750px) {

    p {
        font-size: 25px;
    }

    h2, h4 {
        font-size: 30px;
    }

    .image-container {
        max-width: 200px;
        margin: 0 auto;
    }

    .image-container h3 {
        font-size: 30px;
    }

}